In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

from sklearn.cluster import KMeans
from sklearn import datasets

np.random.seed(5)

iris = pd.read_csv("https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv")

iris = datasets.load_iris()
X = iris.data
y =iris.target

estimators = [('k_means_iris_8', KMeans(n_clusters=8)),
              ('k_means_iris_3', KMeans(n_clusters=3)),
              ('k_means_iris_10', KMeans(n_clusters=10)),
              ('k_means_iris_bad_init', KMeans(n_clusters=3, n_init=1,
                                                init='random'))]


fignum = 1
titles = ['8 clusters', '3 clusters', '10 clusters','3 clusters, bad initialization']
for name, est in estimators:
          fig = plt.figure(fignum, figsize=(4, 3))
          ax = Axes3D(fig, rect=[0, 0, .95, 1], elev=48, azim=134)
          est.fit(X)
          labels = est.labels_
          
          pd.crosstab(iris.target,labels)
          
          ax.scatter(X[:, 3], X[:, 0], X[:, 2],
                     c=labels.astype(np.float), edgecolor='k')
          
          ax.w_xaxis.set_ticklabels([])
          ax.w_yaxis.set_ticklabels([])
          ax.w_zaxis.set_ticklabels([])
          ax.set_xlabel('Petal width')
          ax.set_ylabel('$epal length')
          ax.set_zlabel('Petal length')
          ax.set_title(titles[fignum - 1])
          ax.dist = 12
          fignum = fignum + 1


fig = plt.figure(fignum, figsize=(4, 3))
ax = Axes3D(fig,rect=[0,0,0.95,1], elev=48, azim=134)
for name, label in [('Setosa', 0),
                    ('Versicolour', 1),
                    ('Virginica', 2)]:

         ax.text3D(X[y==label, 3].mean(),
                   X[y==label, 0].mean(),
                   X[y==label, 2].mean() + 2, name,
                   horizontalalignment='center',
                   bbox=dict(alpha=.2, edgecolor='w', facecolor='w'))

y = np.choose(y, [1, 2, 0]).astype(np.float)
ax.scatter(X[:, 3], X[:, 0], X[:, 2], c=y, edgecolor ='k')

ax.w_xaxis.set_ticklabels([])
ax.w_yaxis.set_ticklabels([])
ax.w_zaxis.set_ticklabels([])
ax.set_xlabel('Petal width')
ax.set_ylabel('Sepal length')
ax.set_zlabel('Peta1 length')
ax.set_title('Ground Truth')
ax.dist = 12

fig.show()

ParserError: ignored

In [0]:
k8 = KMeans(n_clusters=8).fit(X)
k3 = KMeans(n_clusters=3).fit(X)
k10 = KMeans(n_clusters=10).fit(X)
pd.crosstab(iris.target, k8.labels_)

col_0   0   1   2   3   4  5   6   7
row_0
0       0  33   0   0   0  0   0  17
1       3   0   0  20  20  7   0   0
2      15   0  12   0   1  0  22   0

In [0]:
pd.crosstab(iris.target, k3.labels_)

col_0   0   1   2
row_0
0      50   0   0
1       0  48   2
2       0  14  36

In [0]:
pd.crosstab(iris.target, k10.labels_)

col_0   0   1  2  3   4   5   6   7   8  9
row_0
0       0  10  0  0   0   0  19   0  21  0
1       3   0  0  7  22  18   0   0   0  0
2      15   0  6  0   1   0   0  22   0  6